body{
background: #F7D060;
}

p{
font-family: ink free, mv boli, sans-serif;
font-style: italic;
font-weight: bold;
font-size: 17px;
text-decoration: normal;
color: #5F264A ;
}
 
h1{ font-family: 'Sedgwick Ave Display',mv boli, cursive; 
color: #0A4D68 ;


}
